@font-face{
    font-family: "Space";
    src: url(../fonts/aspace_demo.otf) format("truetype");
}
@font-face{
    font-family: "Komtita";
    src: url(../fonts/KOMTITA_.ttf) format("truetype");
}
body, html{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    min-height: 720px;
    min-width: 1280px;
}
.playerAction{
    position: absolute;
    z-index: 2;
    top: 20%;
    left: 30%;
    color: white;
    font-size: 1.5em;
}
html{
    background: url(../images/background/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}
.mainContainer{
    height: 100%;
    width: 100%;
    position: absolute;    
}
.p2MainContainer{
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}
.unReverse{
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    text-align: right;
}
.tooltip{
    position: absolute;
    top: 5%;
    left: 2%;
    height: 100px;
    width: 100px;
    border: 1px solid black;
    background-color: white;
}
.healthBarContainer{
    top: 5%;
    left: 10%;
    height: 20px;
    width: 25%;
    border: 1px solid black;
    position: absolute;
    z-index: 100;
    padding: 1px;
    background-color: white;
}
.healthBar{
    position: relative;
    height: 100%;
    width: 100%;
    background-color: red;
    margin-bottom: 20px;
}
.loadWindow{
    position: absolute;
    min-height: 100%;
    width: 100%;
    z-index: 1001;
    top: 0px;
    left: 0px;
    background-color: darkorchid;
}
.loadBarContainer{
    position: absolute;
    z-index: 1002;
    top: 40%;
    left: 40%;
    height: 100px;
    width: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}
.loadBar{
    position: relative;
    z-index: 1003;
    margin-bottom: 10px;
    background-color: lightskyblue;
    height: 10px;
}
.userName{
    z-index: 900;
    font-size:2em;
    color: white;
    position: absolute;
    top: 10%;
    left: 10%;
    font-family: "Space";
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.enemyName{
    z-index: 900;
    font-size:2em;
    color: white;
    position: absolute;
    top: 10%;
    right: 10%;
    text-align: right;
    font-family: "Space";
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.versusTitle{
    z-index: 900;
    font-size: 7em;
    font-family: "Space";
    position: absolute;
    top: 0%;
    left: 44%;
    color: white;
    font-weight: bolder;
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}
.roundTimerTitle{
    z-index: 900;
    font-size: 2em;
    color: white;
    position: absolute;
    top: 20%;
    left: 45%;
    font-weight: bold;
    font-family: "Space";
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.roundTimer{
    position: absolute;
    z-index: 900;
    font-size: 5em;
    color: red;
    top: 24%;
    left: 47.5%;
    font-weight: bolder;
    font-family: "Space";
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.roundNumberTitle{
    position: absolute;
    z-index: 900;
    color: yellow;
    font-size: 1.5em;
    top: 16%;
    left: 46%;
    font-family: "Space";
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-weight: bold;
}
.blockSection{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2000;
}
.buttonsContainer{
    position: absolute;
    z-index: 900;
    top: 60%;
    left: 5%;
    height: 200px;
    width: 200px;
    border-radius: 10px;
    border: 1px solid black;
}
.txtMsg{
    position: absolute;
    z-index: 1000;
    font-family: "Komtita";
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-align: center;
    font-weight: bold;
}
.centerMsg{
    top: 50%;
    left: 40%;
    color: yellow;
    font-size: 3em;
}
.p1DmgMsg{
    top: 30%;
    left: 30%;
    color: red;
    font-size: 3em;
}
.p2DmgMsg{
    top: 30%;
    left: 70%;
    color: red;
    font-size: 3em;
}
.p1HealMsg{
    top: 30%;
    left: 30%;
    color: greenyellow;
    font-size: 3em;
}
.p2HealMsg{
    top: 30%;
    left: 70%;
    color: greenyellow;
    font-size: 3em;
}
.resultsWindow{
    position: absolute;
    z-index: 3000;
    top: 20%;
    left: 40%;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    padding: 20px;    
}
.attackBonusBox{
    position: absolute;
    z-index: 1000;
    top: 15%;
    left: 30%;
    height: 60px;
    width: 60px;
    border-radius: 10px;
    background-color: lightblue;
    background: url(../images/tooltips/bonus.jpg) no-repeat scroll 0 0 transparent; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: "Komtita";
    text-align: center;
    color: white;
    font-weight: bold;
    vertical-align: middle;
    -webkit-box-shadow: 0px 0px 78px 23px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 78px 23px rgba(255,255,255,1);
    box-shadow: 0px 0px 78px 23px rgba(255,255,255,1);
}
.gameButton{
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 20px;
    left: 10%;
    border: none;
    cursor: pointer;
    z-index: 99999;
    transition: 0.7s all;
}
.gameButton:hover{
    -webkit-box-shadow: 0px 0px 40px 7px rgba(0,161,38,1);
    -moz-box-shadow: 0px 0px 40px 7px rgba(0,161,38,1);
    box-shadow: 0px 0px 40px 7px rgba(0,161,38,1);
}
.rockButton{
    top: 45%;
    background: url(../images/tooltips/rock.jpg) no-repeat scroll 0 0 transparent; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.paperButton{
    top: 60%;
    background: url(../images/tooltips/paper.jpg) no-repeat scroll 0 0 transparent; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.scissorsButton{
    top: 75%;
    background: url(../images/tooltips/scissors.jpg) no-repeat scroll 0 0 transparent; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.ultimateButton{    
    top: 30%;
    background: url(../images/tooltips/ultimate.jpg) no-repeat scroll 0 0 transparent; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: "Komtita";
    text-align: center;
    font-size: 1.1em;
    color: white;
}
.ultimateBar {    
    background-color: yellow;
    width: 100%;
    height: 98%;    
}
.ultimateContainer{
    background-color: white;
    width: 20%;
    height: 10px;
    padding: 1px;
    position: absolute;
    z-index: 1000; 
    top: 9%;
    left: 10%;
}
