.hangarRobotWindow{
    border: 1px solid silver;
    height: 60vh;
}
.hangarSkillButton{
    height: 50px;
    width: 50px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    z-index: 99999;
    transition: 0.4s all;    
}
.hangarSkillButton:hover{
    filter: brightness(130%);
}
.hangarTextInfo{
    font-family: "Batman";
    font-size: 1.2em;
    color: lime;
    font-weight: bold;
}
.hangarTextInfoError{
    font-family: "Batman";
    font-size: 1.2em;
    color: red;
    font-weight: bold;
}
.btn-rock{
    background: url(../images/tooltips/rock.jpg) no-repeat scroll 0 0 transparent; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.btn-paper{
    background: url(../images/tooltips/paper.jpg) no-repeat scroll 0 0 transparent; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.btn-scissors{
    background: url(../images/tooltips/scissors.jpg) no-repeat scroll 0 0 transparent; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.hangarLeftWindow{
    margin-right: 10px;
    margin-left: 30px;
}
.implantTooltip {
    height: 100%;
    width: 100%;
}
.skillTooltip{
    height: 100%;
    width: 100%;
    border-radius: 20px;
    border: 1px solid silver;
}
.implantTooltipText{
    color: white;
    font-family: "Batman";
    font-weight: bold;
    text-align: center;
    font-size: 1.5em;
}
.implantSlot{
    width: 30%;
    height: 90%;
    float: left;
    margin-left: 10px;
    background-color: rgba(27,70,171,0.7);
    border-radius: 10px;
    padding: 10px;
    border: 1px solid silver;
}
.hangarInfo{
    color: lime;
    font-weight: bolder;
    cursor: help;
}
.hangarInfoPopUp{
    position: absolute;
    padding: 10px;
    background-color: rgba(27,70,171,0.9);
    border: 1px solid silver;
    border-radius: 10px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 0.8em;
    color: white;
    display: none;
    z-index: 1000;
    -webkit-box-shadow: 22px 24px 20px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 22px 24px 20px -1px rgba(0,0,0,0.75);
    box-shadow: 22px 24px 20px -1px rgba(0,0,0,0.75);
}
.hangarInventoryContainer{
    border: none;
}
.skillTooltipText{
    font-family: "Batman";
    font-size: 1.2em;
    text-align: center;
}
.hangarExperienceWindow{
    border: 1px solid silver;
    height: 20vh;
    margin-top: 5px;
}
.hangarImplantSlotsWindow{
    height: 20vh;
    overflow: hidden;
}
.hangarInventoryWindow{
    height: 40vh;
    margin-top: 5px;
    color: white;
    overflow: auto;
}
.hangarSkillsWindow{
    border: 1px solid silver;
    height: 20vh;
    margin-top: 5px;
}
.hangarInformationColumn{
    margin-left: 5px;
    border: 1px solid silver;
    height: 81vh;
}

#progressbar{
    position: absolute;
    background-color: silver;
    height: 200%;
    width: 90%;
    border: 1px solid;
    margin-top: 10%;
}

#sectionProgressBar{
    position: absolute;
    margin-top:  17%;
}

#percent{
    position: absolute;
    left: 185px;
}

#bar{
    position: relative;
    background-color: yellow;
    width: 1%;
    height: 99%;
}

#robotImage
{
    position: absolute;
    top: -30px;
}

.implant 
{
    border: 1px solid;
    height: 19.5vh;
    width: 19vw;
}
.skill
{
    border: 1px solid;
    height: 19.5vh;
    width: 19vw;
}

.blur{
    position: relative;;
    margin: 21%;
    top: 35%;
    color: silver;
    font-size: 3em;
}

.draggable
{
    border: 1px dotted blue;
}

.fixed
{
      height: 81%;
    overflow-y: scroll;
 
}
