.friendsContainer{
    border: 1px solid silver;
    height: 70vh;
    padding: 5px;
    border-radius: 5px;
    margin-left: 5vh;
    width: 30%;
}
.chatWindow{
    border: 1px solid silver;
    border-radius: 5px;
    height: 70vh;
    margin-left: 5vh;
}
.textEntry{
    margin-left: 50vh;
    margin-top: 2vh;
}
.userTooltip{
    border: 1px solid silver;
    padding: 15px;
    border-radius: 5px;
    position:relative;
    width: 97%;
    height: 50px;
    background-color: beige;
    margin-top: 5px;
    display: flex;
    cursor: pointer;    
}
.userTooltip:hover {
    background-color: yellowgreen;
}
