.friendsContainer{
    border: 1px solid silver;
    height: 70vh;
    padding: 5px;
    border-radius: 5px;
    margin-left: 5vh;
}
.chatWindow{
    border: 1px solid silver;
    border-radius: 5px;
    height: 70vh;
    margin-left: 5vh;
}
.textEntry{
    margin-top: 2vh;
    margin-left: 5vh;
}
.userTooltip{
    border: 1px solid silver;
    padding: 15px;
    border-radius: 5px;
    position:relative;
    width: 97%;
    height: 50px;
    background-color: beige;
    margin-top: 5px;
    display: flex;
    cursor: pointer;    
}
.userTooltip:hover {
    background-color: yellowgreen;
}
.playerTooltip{
    display: none;
    padding-top: 5px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: white;
    border-radius: 10px;
}
.playerTooltipCloseCross{
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 7px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 0.7em;
}
.tooltipButton{
    margin-bottom: 5px;
}
.popUpWindow{
    position: absolute;
    top: 20%;
    left: 30%;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    z-index: 1000;
}
