body, html{
    height: 100%;
    width: 100%;
}
.loginBox{
    width: 20%;
    position: absolute;
    top: 30%;
    left: 10%;
    border: 1px solid silver;
    padding: 20px;
}
.menuButton {
    float: left;
}
.registerBox{
    width: 80%;
    position: absolute;
    margin-left: 10vh;
    padding: 20px;
    margin-top: 5vh;
}
#registerBirthDate{
    cursor: pointer;
}
.robotInfoBox{
    font-size: 0.8em;
    margin-top: 5vh;
    padding: 5px;
}
