body, html{
    height: 100%;
    width: 100%;
}
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
        url('../fonts/glyphicons-halflings-regular.woff') format('woff'), 
        url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), 
        url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.ng-invalid.ng-dirty {
  border-color:red;
}
.ng-valid.ng-dirty {
  border-color:green;
}
.loginBox{
    width: 20%;
    position: absolute;
    top: 30%;
    left: 10%;
    border: 1px solid silver;
    padding: 20px;
}
.menuButton {
    float: left;
}
.registerBox{
    width: 80%;
    position: absolute;
    margin-left: 10vh;
    padding: 20px;
    margin-top: 5vh;
}

