.profilePersonalDataWindow {
    border: 1px solid silver;
    height: 80vh;
    overflow: auto;
}
.profileStatisticsWindow{
    border: 1px solid silver;
    height: 80vh;
    margin-left: 10vh;
}
.popUp{
   background-color: silver;
    left: 25vw;
    position: absolute;
    top: 30vh;
    z-index: 999;
}