.shopInfoWindow{
    height: 10vh;
    margin-right: 25vh;
}
.shopShopWindow{
    border: 1px solid silver;
    height: 60vh;
    margin-left: 30px;
}
.shopInventoryWindow{
    border: 1px solid silver;
    margin-left: 30px;
    height: 60vh;
}

.tooltipmessage{
    display: block;
    line-height: 1.42857;
    opacity: 1;
    position: absolute;
    text-align: start;
    z-index: 1070;
    top: 25%;
    left: 12%;
    border-radius: 15px;
    padding: 10px;
    background-color: yellowgreen;
    /*transition: 0.4s opacity;*/
}

.invisible
{
    opacity:0;
    display: inline;
}

