<main ng-show="currentWindow == 'hangar'">
    <div class="row">
        <div class="col-md-3 hangarLeftWindow">
            <div class="row hangarRobotWindow">
                <img id="robotImage" src={{image}} width="315" height="430" alt="image robot loading..."/>
            </div>
            <div class="row hangarExperienceWindow">
                <div class="col-md-3" style="display: block">
                    <h1>{{currentUser.robotStatistic.level}}</h1>Lvl
                </div>
                <div  class="col-md-9">
                    <div id="progressbar"><div id="bar">&nbsp;</div></div><br>
                    <div id="sectionProgressBar">
                        <label>{{currentUser.robotStatistic.experience}}/{{currentUser.robotStatistic.expToNextLevel}}</label> 
                        <label id="percent">{{(currentUser.robotStatistic.experience / currentUser.robotStatistic.expToNextLevel)*100|number:2}}%</label>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="row hangarImplantSlotsWindow">
                <table border="0">
                    <tbody>
                        <tr>
                            <td><label>Implant slot 1</label></td>
                            <td><label>Implant slot 2</label></td>
                            <td><label>Implant slot 3</label></td>
                        </tr>
                        <tr>
                            <td class= "skill"><span class="blur">&nbsp;</span></td>
                            <td class="skill"><span class="blur">&nbsp;</span></td>
                            <td class="skill"><span class="blur">&nbsp;</span></td>
                        </tr>
                    </tbody>
                </table>         
            </div>
            <div class="row hangarInventoryWindow">
                <ul class="nav nav-tabs">
                    <li id="tabSkill" class="active" ng-click="setActive('skill')"><a><span>Skills</span></a></li>
                    <li id="tabImplant" ng-click="setActive('implant')"><a><span>Implants</span></a></li>
                    <li id="tabAttribute" ng-click="setActive('attribute')"><a><span>Attributes</span></a></li>
                </ul>
                <table border="0" id="origin" class="table table-striped listSkill" ng-if="showOptionHangar == 'skill'">
                    <thead>
                        <tr>
                            <th><label>Name</label></th>
                            <th><label>Level</label></th>
                            <th><label>Boost</label></th>
                            <th><label>Attribute</label></th>
                            <th><label>Value</label></th>
                            <th colspan="3">Assign</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="skill in purchasedSkills">
                    <div ng-show="skill.hide='0'">
                        <td class="small">{{skill.name}}</td>
                        <td class="small">{{skill.requiredLevel}}</td>
                        <td class="small">{{skill.multiplier}}</td>
                        <td class="small">{{attrSkill[$index][0]}}</td>
                        <td class="small">{{attrSkill[$index][1]}}</td>
                        <td><button class="btn" ng-click="hangar.updateSkillAssign(skill, '1')">Rock</button></td>
                        <td><button class="btn" ng-click="hangar.updateSkillAssign(skill, '2')">Paper</button></td>
                        <td><button class="btn" ng-click="hangar.updateSkillAssign(skill, '3')">Scissors</button></td>
                    </div>    
                    </tr>
                    </tbody>
                </table>
                <table border="0" class="table table-striped" ng-if="showOptionHangar == 'implant'">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Attribute</th>
                            <th>Value</th>
                            <th colspan="3">Assign</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="implant in purchasedImplants">
                            <td class="small" ng-init="hangar.getInfoImplant(implant)">{{implant.name}}</td>
                            <td class="small">{{implant.description}}</td>
                            <td class="small">{{attrImplant[$index][0]}}</td>
                            <td class="small">{{attrImplant[$index][1]}}</td>
                            <td><button class="btn">Slot 1</button></td>
                            <td><button class="btn">Slot 2</button></td>
                            <td><button class="btn">Slot 3</button></td>
                        </tr>
                    </tbody>
                </table>
                <ul ng-init="hangar.loadAttributes(hangar)" ng-if="showOptionHangar == 'attribute'" class="list-group-item list-unstyled list">
                    <li>&nbsp;</li>
                    <li><label class="top">Health points:</label> {{hangar.attributes[3]["value"]}}</li>
                    <li>&nbsp;</li>
                    <li><label class="top">Attack points:</label> {{hangar.attributes[0]["value"]}}</li>
                    <li>&nbsp;</li>
                    <li><label>Defense points:</label> {{hangar.attributes[1]["value"]}}</li>
                    <li>&nbsp;</li>
                    <li><label>Critical points:</label> {{hangar.attributes[2]["value"]}}</li>
                    <li>&nbsp;</li>
                </ul>
            </div> 
            <div class="row hangarSkillsWindow">
                <table border="0" class="list">
                    <tbody>
                        <tr>
                            <td class= "skill" id="rock">
                                <ul class="list-unstyled">
                                    <li><label>Name:</label>{{arraySkillsAssigned[0].name}}</li>
                                    <li><label>Description: </label>{{arraySkillsAssigned[0].description}}</li>
                                    <li><label>Bost: </label>{{arraySkillsAssigned[0].multiplier}}</li>
                                </ul>
                            </td>
                            <td class="skill" id="paper">
                                <ul class="list-unstyled">
                                    <li><label>Name:</label>{{arraySkillsAssigned[1].name}}</li>
                                    <li><label>Description: </label>{{arraySkillsAssigned[1].description}}</li>
                                    <li><label>Bost: </label>{{arraySkillsAssigned[1].multiplier}}</li>
                                </ul>
                            </td>
                            <td class="skill" id="scissors"> 
                                <ul class="list-unstyled">
                                    <li><label>Name:</label>{{arraySkillsAssigned[2].name}}</li>
                                    <li><label>Description: </label>{{arraySkillsAssigned[2].description}}</li>
                                    <li><label>Bost: </label>{{arraySkillsAssigned[2].multiplier}}</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td><label>Rock</label></td>
                            <td><label>Paper</label></td>
                            <td><label>Scissors</label></td>
                        </tr>
                    </tbody>
                </table>       
            </div>
        </div>
        <div class="col-md-1 hangarInformationColumn">
            <div class="row">
                <label>{{currentUser.coins}} Human/s</label>
            </div>
        </div>
    </div>
    {{messageHangar}}
</main>