<main ng-show="currentWindow == 'hangar'">
    <div class="hangarInfoPopUp" id="hangarInfoPopUp"></div>
    <div class="row">
        <div class="col-md-3 hangarLeftWindow">
            <div class="row hangarRobotWindow">
                <img id="robotImage" src={{image}} width="315" height="430" alt="image robot loading..."/>
            </div>
            <div class="row hangarExperienceWindow">
                <!--<div class="col-md-3" style="display: block">
                    <h1>{{currentUser.robotStatistic.level}}</h1>Lvl
                </div>-->
                <!--<div  class="col-md-9">
                    <div id="progressbar"><div id="bar">&nbsp;</div></div><br>
                    <div id="sectionProgressBar">
                        <label>{{currentUser.robotStatistic.experience}}/{{currentUser.robotStatistic.expToNextLevel}}</label> 
                        <label id="percent">{{(currentUser.robotStatistic.experience / currentUser.robotStatistic.expToNextLevel)*100|number:2}}%</label>
                        <br>
                    </div>
                </div>-->
            </div>
        </div>
        <div class="col-md-7">
            <div class="row hangarImplantSlotsWindow">

                <!--<table border="0">
                   <tbody>
                       <tr>
                           <td class= "skill"><span class="blur">Slot 1</span></td>
                           <td class="skill"><span class="blur">Slot 2</span></td>
                           <td class="skill"><span class="blur">Slot 3</span></td>
                       </tr>
                   </tbody>
               </table> -->        
            </div>      
            <!-- inventory tab-->
            <div class="row hangarInventoryWindow">
                <ul class="nav nav-tabs">
                    <li id="hangar_skills_tab" class="active" ng-click="hangar.setTab('skills')"><a class="usersTab"><span>Skills</span></a></li>
                    <li id="hangar_implants_tab" ng-click="hangar.setTab('implants')"><a class="usersTab"><span>Implants</span></a></li>
                    <li id="hangar_attributes_tab" ng-click="hangar.setTab('attributes')"><a class="usersTab"><span>Attributes</span></a></li>
                </ul>
                <!-- pestaña skills inventario -->
                <div class="hangarInventoryContainer" ng-show="hangar.currentTab == 'skills'">
                    <table class="table table-striped">
                        <tr>
                            <th>Info</th>
                            <th>Name</th>
                            <th>Attribute</th>
                            <th>Value</th>
                            <th>Assign</th>
                        </tr>
                        <tr ng-repeat="skill in hangar.storedAttacks">
                            <td><span id="hangarInfoSkill{{skill.id}}" class="hangarInfo" 
                                      ng-mouseenter="hangar.showItemInfo(skill, $event)" 
                                      ng-mouseleave="hangar.hideItemInfo()">?</span></td>
                            <td>{{skill.name}}</td>
                            <td class="text-uppercase">{{skill.attribute}}</td>
                            <td>{{skill.value}}</td>
                            <td>
                                <button class="btn btn-info">Rock</button>
                                <button class="btn btn-info">Paper</button>
                                <button class="btn btn-info">Scissors</button>
                            </td>
                        </tr>
                    </table>
                </div>
                <!-- implants tab-->
                <div class="hangarInventoryContainer" ng-show="hangar.currentTab == 'implants'">
                    <table class="table table-striped">
                        <tr>
                            <th>Info</th>
                            <th>Name</th>
                            <th>Attribute</th>
                            <th>Value</th>
                            <th>Assign</th>
                        </tr>
                        <tr ng-repeat="implant in hangar.storedImplants">
                            <td><span id="hangarInfoImplant{{implant.id}}" class="hangarInfo" 
                                      ng-mouseenter="hangar.showItemInfo(implant, $event)" 
                                      ng-mouseleave="hangar.hideItemInfo()">?</span></td>
                            <td>{{implant.name}}</td>
                            <td class="text-uppercase">{{implant.attribute}}</td>
                            <td>{{implant.value}}</td>
                            <td>
                                <button class="btn btn-info">Slot 1</button>
                                <button class="btn btn-info">Slot 2</button>
                                <button class="btn btn-info">Slot 3</button>
                            </td>
                        </tr>
                    </table>
                </div>
                <!-- attributes tab-->
                <div class="hangarInventoryContainer" ng-show="hangar.currentTab == 'attributes'">
                    attributes
                </div>
            </div> 
            <div class="row hangarSkillsWindow">
                <!--<table border="0" id="destinySkill" class="list">
                    <tbody>
                        <tr>
                            <td class= "skill" id="rock">
                                <ul class="list-unstyled">
                                    <li><label>Name:</label>{{arraySkillsAssigned[0].name}}</li>
                                    <li><label>Description: </label>{{arraySkillsAssigned[0].description}}</li>
                                    <li><label>Bost: </label>{{arraySkillsAssigned[0].multiplier}}</li>
                                </ul>
                            </td>
                            <td class="skill" id="paper">
                                <ul class="list-unstyled">
                                    <li><label>Name:</label>{{arraySkillsAssigned[1].name}}</li>
                                    <li><label>Description: </label>{{arraySkillsAssigned[1].description}}</li>
                                    <li><label>Bost: </label>{{arraySkillsAssigned[1].multiplier}}</li>
                                </ul>
                            </td>
                            <td class="skill" id="scissors"> 
                                <ul class="list-unstyled">
                                    <li><label>Name:</label>{{arraySkillsAssigned[2].name}}</li>
                                    <li><label>Description: </label>{{arraySkillsAssigned[2].description}}</li>
                                    <li><label>Bost: </label>{{arraySkillsAssigned[2].multiplier}}</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td><label>Rock</label></td>
                            <td><label>Paper</label></td>
                            <td><label>Scissors</label></td>
                        </tr>
                    </tbody>
                </table> -->      
            </div>
        </div>
        <div class="col-md-1 hangarInformationColumn">
            <div class="row">
                <label>{{currentUser.coins}} Human/s</label>
            </div>
        </div>
    </div>
    {{messageHangar}}
</main>