<!--duel request pop up window-->
<article class="popUpWindow" ng-show="showDuelConfirmPopUp">
    <h5>{{duelRequester}}</h5> has requested a duel!
    <hr/>
    <span class="text-info">Do you accept? ({{duelAcceptCoolDown}}s)</span><br/>
    <button class="btn btn-success" ng-click="home.acceptDuel()">Yes</button>
    <button class="btn btn-danger" ng-click="home.rejectDuel()">No</button>
</article>
<!-- requets waiting response pop up window-->
<article class="popUpWindow" ng-show="showRequestWaitPopUp">
    Waiting a response from <strong class="text-info">{{playerTarget}}</strong> ({{duelAcceptCoolDown}}s) ...
</article>
<main class="classGeneralMainWindow" ng-show="currentWindow == 'home'">
    <div class="row">
        <button class="btn btn-warning row pull-right">
            <span class="glyphicon glyphicon-volume-off pull-right"></span>
        </button>
    </div>        
    <section class="row">
        <div class="friendsContainer col-md-2">
            <ul class="nav nav-tabs">
                <li id="allTab" class="active"><a class="usersTab" href="#" ng-click="home.showAllTab()"><span class="glyphicon glyphicon-user"></span></a></li>
                <li id="friendsTab"><a class="usersTab" href="#" ng-click="home.showFriendsTab()"><span class="glyphicon glyphicon-heart"></span></a></li>
                <li id="blockedTab"><a class="usersTab" href="#" ng-click="home.showBlockedTab()"><span class="glyphicon glyphicon-remove"></span></a></li>
            </ul>
            <!--tab for all users online -->
            <article ng-show="home.currentTab == 'all'">
                <small class="userStatusInfo" ng-show="onlineUserList.length == 0">
                    There are no more users online.</small>
                <span class="userTooltip" id="{{user.getUserName()}}Tooltip" ng-repeat="user in onlineUserList" 
                      ng-click="home.showUserPopUpMenu(user, $event)">
                    <span style="color:lime" class="glyphicon glyphicon-user"></span>  &nbsp&nbsp{{user.getUserName()}}
                </span>
            </article>
            <!-- pop up window for user click -->
            <article compile-data template="{{playerTooltipContent}}" class="playerTooltip" id="playerTooltip">                
            </article>
            <!-- tab for friends online -->
            <article ng-show="home.currentTab == 'friends'">
                <small class="userStatusInfo" ng-show="onlineFriendList.length == 0">
                    You don't have any friends online.</small>
                <span class="userTooltip" ng-repeat="friend in onlineFriendList" 
                      id="{{user.getUserName()}}Tooltip" ng-click="home.showUserPopUpMenu(friend, $event)">
                    {{friend.getUserName()}}
                </span>
            </article>
            <!-- tab for blocked user -->
            <article ng-show="home.currentTab == 'blocked'">
                <small class="userStatusInfo" ng-show="onlineBlockedList.length == 0">
                    You don't have any blocked user.</small>
                <span class="userTooltip" ng-repeat="blocked in onlineBlockedList" 
                      id="{{blocked.getUserName()}}Tooltip" ng-click="home.showUserPopUpMenu(blocked, $event)">
                    {{blocked.getUserName()}}
                </span>
            </article>
        </div>
        <div class="col-md-8 chatWindow" id="chatBody">
            <p ng-repeat="msg in messageList">
                <span class="chatMsgInfo">{{msg.getDatetime()}} {{msg.getIdUserNameSender()}} </span>
                <strong class="chatMsgTarget" ng-if="msg.getIdUserNameReceiver() == currentUser.getUserName()">(to You)</strong> 
                <strong class="chatMsgTarget" ng-if="msg.getIdUserNameSender() == currentUser.getUserName() && msg.getIdUserNameReceiver() != 'all'">(to {{msg.getIdUserNameReceiver()}})</strong>
                <span class="chatMsgInfo">=></span>
                <span class="chatMsgContent">{{msg.getContent()}}</span>
            </p>
        </div> 
    </section>
    <section class="row textEntry">
        <div class="col-md-8">
            <input class="form-control textEntryInput" id="textEntryBox" ng-keyup="home.sendMessage($event.keyCode)" type="text" ng-model="home.textMessage"/>
        </div>
        <div class="col-md-2">
            <button class="chatSendButton form-control" ng-click="home.sendMessage(13)">Send</button>
        </div>
    </section>
</main>