<main class="classgeneralMainWindow" ng-show="currentWindow == 'home'">
    <div class="row">
        <button class="btn btn-warning row pull-right"><span class="glyphicon glyphicon-volume-off pull-right"></span></button>
    </div>        
    <section class="row">
        <div class="friendsContainer col-md-3">
            <ul class="nav nav-tabs">
                <li id="allTab" class="active"><a href="#" ng-click="home.showAllTab()"><span class="glyphicon glyphicon-user"></span></a></li>
                <li id="friendsTab"><a href="#" ng-click="home.showFriendsTab()"><span class="glyphicon glyphicon-heart"></span></a></li>
                <li id="blockedTab"><a href="#" ng-click="home.showBlockedTab()"><span class="glyphicon glyphicon-remove"></span></a></li>
            </ul>
            <article ng-show="home.currentTab == 'all'">
                <span class="userTooltip" ng-repeat="user in onlineUserList">
                    {{user.getUserName()}}
                </span>
            </article>
            <article ng-show="home.currentTab == 'friends'">
                <small class="text-primary" ng-show="onlineFriendList.length == 0">
                    You don't have any friends online.</small>
                <span class="userTooltip" ng-repeat="user in onlineFriendList">
                    {{user.getUserName()}}
                </span>
            </article>
            <article ng-show="home.currentTab == 'blocked'">
                <small class="text-primary" ng-show="onlineBlockedList.length == 0">
                    You don't have any blocked user.</small>
                <span class="userTooltip" ng-repeat="user in onlineBlockedList">
                    {{user.getUserName()}}
                </span>
            </article>
        </div>
        <div class="col-md-8 chatWindow">
            Text messages will appear here
        </div> 
    </section>
    <section class="row textEntry">
        <div class="col-md-6">
            <input class="form-control" type="text"/>
        </div>
        <div class="col-md-6">
            <button class="btn btn-success">Send</button>
        </div>
    </section>
</main>