<div class="col-md-5 profilePersonalDataWindow">
    <form name="profileForm" class="form-group" novalidate="" ng-submit="profileForm.$valid && saveChanges()">
        <label>Name *</label>
        <input type="text" class="form-control" ng-model="currentUser.profile.name" required=""/>
        <label>Surname 1 *</label>
        <input type="text" class="form-control"ng-model="currentUser.profile.lastName1" required=""/>
        <label>Surname 2</label>
        <input type="text" class="form-control" ng-model="currentUser.profile.lastName2"/>
        <label>Email *</label>
        <input type="text" class="form-control" ng-model="currentUser.profile.email" required=""/>
        <label>Country *</label>
        <select class="form-control" name="countrySelect" ng-options="item.id as item.name+'  ('+item.iso+')' for item in countryList" ng-model="currentUser.profile.idCountry" ng-init="loadCountries()">
        </select>
        <label>Password</label>
        <input type="password" id="newPassword" ng-model="newPassword" ng-change="match()" class="form-control" ng-pattern="/^[a-zA-Z0-9_]{4,}$/"/>
        <label>Repeat password</label>
        <input type="password" id="repeatNewPassword" ng-model="repeatNewPassword" ng-change="match()" class="form-control" ng-pattern="/^[a-zA-Z0-9_]{4,}$/"/>
        <span ng-show="show==1" class="text-danger">The field not match with 'password'</span>
        <hr>
        <button type="submit" class="btn profileButton" ng-disabled="profileForm.$invalid || show==1">Save changes</button>
    </form>
    <button class="btn dropOutButton profileButton pull-right" ng-click="showDisclaimerDropOut = 1">Request drop out</button>
</div>

<div class="col-md-5 popUp" ng-show="showDisclaimerDropOut == 1">
    <form name="requestDropOutForm" class="form-group" novalidate="" ng-submit="requestDropOutForm.$valid && profileWindow.dropOutUser()">
        <label class="text-warning">Warning, This action is for drop out of application!, to continue insert your password.</label>
        <input type="password" ng-model="pass"  class="form-control" required="" ng-pattern="/^[aA-zZ0-9_]{4,}$/"/>
        <hr/>
        <button  type="submit" class="btn btn-success" ng-disabled="requestDropOutForm.$invalid">Continue and drop out</button>
        <button  type="button" class="btn btn-danger pull-right" ng-click="showDisclaimerDropOut = 0">Sorry I dont like this</button>
        <span class="text-danger"><br>{{message}}</span>
    </form>
</div>

