<form name="retrievePassForm" class="registerBox row" ng-show="show == 2" action="" method="post" novalidate>
    <div class="col-md-6 registerLeftBox">
        <h3>Retrieve credentials</h3>
        <span class="text-capitalize">Write email with which you registered</span><br>
        <label>Email *</label>
        <input type="text" name="emailBox" class="form-control" ng-model="email" ng-pattern="/^[a-zA-Zñ0-9]+\@[a-zA-Zñ0-9]+\.[a-zA-Z0-9]{2,6}$/" required/>
        <hr/>
        <button type="submit" id="buttonSend" ng-disabled="retrievePassForm.$invalid" name="sendEmailButton" class="btn btn-success">Send</button>
        <hr/>
        <button name="backButton" class="btn-danger btn" ng-click="show = 0">Back</button>
    </div>    
</form>
