<div class="col-md-3 profileStatisticsWindow pull-right">
    <fieldset>
        <legend>User statistics</legend>
        <label class="text-capitalize">defeats: <span class="statInfo">{{currentUser.userStatistic.defeats}}</span></label><br>
        <label class="text-capitalize">wins: <span class="statInfo">{{currentUser.userStatistic.wins}}</span></label><br>
        <label class="text-capitalize">total inflicted damage: <span class="statInfo">{{currentUser.userStatistic.totalInflictedDamage}}</span></label><br>
        <label class="text-capitalize">total recived damage: <span class="statInfo">{{currentUser.userStatistic.totalRecivedDamage}}</span></label><br>
        <label class="text-capitalize">total money earned: <span class="statInfo">{{currentUser.userStatistic.totalWinCoins}}</span></label><br>
        <label class="text-capitalize">total money espent: <span class="statInfo">{{currentUser.userStatistic.totalExpendCoins}}</span></label><br>
    </fieldset>
    <fieldset>
        <legend>Robot statistics</legend>
        <label class="text-capitalize">name: <span class="statInfo">{{currentUser.robotStatistic.name}}</span></label><br>
        <label class="text-capitalize">level: <span class="statInfo">{{currentUser.robotStatistic.level}}</span></label><br>
        <label class="text-capitalize">experience: <span class="statInfo">{{currentUser.robotStatistic.experience}}</span></label><br>
        <label class="text-capitalize">experience to next level: <span class="statInfo">{{currentUser.robotStatistic.expToNextLevel - currentUser.robotStatistic.experience}}</span></label><br>
    </fieldset>
    <fieldset>
        <legend>Robot photo</legend>
        <img class="robotPhoto" src="{{currentUser.robotStatistic.getPhotoSource()}}"/>
    </fieldset>
</div>
